
/* Your CSS Code here. */
.headtable{
	border:1px solid black;
}
.r1c1table{
	border:1px solid black;
}
thead{
	border:1px solid black;
}
th,td{
	border:1px solid black;
}
.r2c1th{
	text-decoration:underline;
	color:blue;
}
.r2c2th{
	color:white;
	background-color:black;
}